<div class="container">
  <div class="info">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    <h1>Lorem ipsum dolor sit amet.</h1>
  </div>
  <div class="details">
    <div class="box">
      <img src="../../assets/images/c1.png" alt="" />
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        voluptatem?
      </p>
    </div>
    <div class="box">
      <img src="../../assets/images/c2.png" alt="" />
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        voluptatem?
      </p>
    </div>
    <div class="box">
      <img src="../../assets/images/c3.png" alt="" />
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        voluptatem?
      </p>
    </div>
    <div class="box">
      <img src="../../assets/images/c4.png" alt="" />
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        voluptatem?
      </p>
    </div>
  </div>

  <button class="main-button">check our offer</button>
</div>
