<div class="row">
  <img src="../../assets/images/ic1.png" alt="" />
  <div class="info">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
      lectus vel imperdiet ullamcorper.
    </p>
  </div>
</div>

<div class="row reverse">
  <img src="../../assets/images/ic2.png" alt="" />
  <div class="info">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
      lectus vel imperdiet ullamcorper.
    </p>
  </div>
</div>
