<div class="main-cont">
  <div class="row">
    <div class="img-container">
      <img src="../../assets/images/user-photo.png" alt="" />
      <img src="../../assets/images/Snowflake.png" class="bg-section" alt="" />
    </div>
    <div class="info">
      <h3>Lorem, ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
  </div>
</div>
