<div class="main-cont">
  <img src="../../assets/images/sn1-bg.png" class="bg-section" alt="" />

  <div class="row">
    <img src="../../assets/images/app1.png" alt="" />
    <div class="info">
      <h3>Lorem, ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
  </div>

  <div class="row reverse">
    <img src="../../assets/images/app2.png" alt="" />
    <div class="info">
      <h3>Lorem, ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
  </div>

  <img src="../../assets/images/sn2-bg.png" class="bg-section" alt="" />
</div>
